{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Learning</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <!-- <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/vprofile.css' %}" rel="stylesheet" >
  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


  <!-- =======================================================
  * Template Name: Gp - v4.9.1
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="index.html"><span></span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>

          {% if request.session.admin %}
          
          <li><a class="nav-link scrollto " href="ufview">ADMIN</a></li>
          <li><a class="nav-link scrollto " href="logout">LOGOUT</a></li>


          {% elif request.session.sid %}
          <li><a class="nav-link scrollto " href="creg">ADD COMPLAINTS</a></li>
          <li><a class="nav-link scrollto " href="csshow">COMPLAINTS</a></li>
          <li><a class="nav-link scrollto " href="sprofile">VIEW PROFILE</a></li>
          <li><a class="nav-link scrollto " href="logout">LOGOUT</a></li>


          {% elif request.session.pid%}
          <li><a class="nav-link scrollto " href="cpshow">pCOMPLAINTS</a></li>
          <li><a class="nav-link scrollto " href="pprofile">VIEW PROFILE</a></li>
          <li><a class="nav-link scrollto " href="logout">LOGOUT</a></li>

          {% elif request.session.hid%}
          <li><a class="nav-link scrollto " href="chshow">hCOMPLAINTS</a></li>
          <li><a class="nav-link scrollto " href="hprofile">VIEW PROFILE</a></li>
          <li><a class="nav-link scrollto " href="logout">LOGOUT</a></li>

          {% else %}
          <li><a class="nav-link scrollto active" href="#hero">HOME</a></li>
          <li><a class="nav-link scrollto" href="studadd">REGISTER</a></li>
          <li><a class="nav-link scrollto" href="ulogin"> LOGIN</a></li>
          <li><a class="nav-link scrollto" href="#contact">CONTACT US</a></li>
          {% endif %}
        
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <!-- <a href="#about" class="get-started-btn scrollto">Get Started</a> -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1 id="quotes">“Live As If You Were To Die Tomorrow. Learn As If You Were To Live Forever.”</h1>
          <h2 id="author">-Mahatma Gandhi</h2>
          <button id="btn"></button>
        </div>
      </div>
      {% if request.session.admin %}
      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="prinsadd">ADD Principle</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="hoadd">ADD Hod</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="studadd">ADD Student</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="sprince">Principal</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="shod">Hod</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="sstudent">Student</a></h3>
          </div>
        </div>
      </div>



      {% endif %}

      

    </div>
  </section>
  <!-- End Hero -->
  {% endblock %}
