{% load static %}
{% block content %}
{% include 'header.html' %}





<section class="vh-100" style="background-color: #f4f5f7;">
    
    <div class=" py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
                <img src="../media/{{result.img}}"
                  alt="Avatar" class="img-fluid my-5" style="width: 160px;" />
                <h5>{{result.uname}}</h5>
                <p>{{result.usubject}}</p>
                

                
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>PERSONAL DETAILS</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Age</h6>
                      <p class="text-muted">{{result.uage}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Place</h6>
                      <p class="text-muted">{{result.uplace}}</p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{result.email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">{{result.ucontact}}</p>
                    </div>
                  </div>
                  <h6>WORK DETAILS</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Subject</h6>
                      <p class="text-muted">{{result.usubject}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Qualification</h6>
                      <p class="text-muted">{{result.uqualification}}</p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Experience</h6>
                      <p class="text-muted">{{result.uexperience}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6></h6>
                      <p class="text-muted"></p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  {% include 'footer.html' %}

{% endblock %}