{% load static %}
{% block content %}
{% include 'header.html' %}


<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">

<div class="container">
    <h1>STUDENTS</h1>
    {% csrf_token %}


<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">image</th>
        <th scope="col">Name</th>
        <th scope="col">AGE</th>
        <th scope="col">PLACE</th>
        <th scope="col">STUDENT CONTACT</th>
        <th scope="col">PARENTS CONTACT</th>

        <th scope="col">EMAIL</th>
        <th scope="col">COURCE</th>


        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    {% for i in result %}
    <tbody>
      <tr>
        <th scope="row">{{i.id}}</th>
        <td><img src="../media/{{i.img}}" alt="" width="50px" height="50px"> </td>
        <td>{{i.sname}}</td>
        <td>{{i.sage}}</td>
        
        <td>{{i.splace}}</td>
        <td>{{i.scontact}}</td>
        <td>{{i.pcontact}}</td>
        <td>{{i.semail}}</td>
        <td>{{i.scource}}</td>
        <!-- <td>{{i.semail}}</td> -->
        <td><a href="{% url 'supdate' id=i.id %}"><button type="button" class="btn btn-success">EDIT</button></a></td>
        <td><a href="{% url 'sdelete' id=i.id %}"><button type="button" class="btn btn-danger">DELETE</button></a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>


</div>
</div>
</section>

{% include 'footer.html' %}

{% endblock %}